.btn {
    padding-right: 1rem;
    padding-left: 1rem;
    border: 1px solid black;
    border-radius: 2px;
    background-color: #eee;
    font-weight: bold;
    line-height: 3rem;
    cursor: pointer;

    &:hover {
        background-color: #ddd;
    }
}
